// Variable
// 1.Color
:root {
  --primary-color: #2951e3;
  --bg-color: #0f0e13;
  --red: #f74550;
  --purple: #8945f9;
  --gray: #dddddd;
}

// 2. size, padding
:root {
  --text-lg: 80px;
  --text-md: 32px;
  --text-sm: 16px;
  --text-xs: 15px;
  --line-height-lg: 1.6;
  --line-height-md: 1.6;
  --line-height-sm: 1.6;
  --p-3: 30px;
  --p-4: 40px;
  --p-5: 50px;
  --p-6: 60px;
}

:root {
  --template-column: 1fr 1fr;
}
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--gray);
}
img {
  display: block;
  max-width: 100%;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: var(--text-sm);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

body {
  max-width: 1700px;
  margin: 0 auto;
  position: relative;
  background-color: var(--bg-color);
}

// Default class
.container {
  max-width: 1250px;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
}

.btn {
  padding: 15px;
  display: inline-block;
  border-radius: 30px;
  min-width: 170px;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
  border: 1px solid transparent;
}

// Header
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-5) 0;
  &-logo {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
  }
  &-list {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  &-link {
    padding: 0 45px;
  }
}

// Home section

.home {
  display: grid;
  grid-template-columns: var(--template-column);
  &-left {
    h1 {
      font-size: var(--text-lg);
      color: #fff;
      font-weight: 500;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 35px;
    }
    p {
      color: var(--gray);
      font-size: var(--text-sm);
      margin-bottom: var(--p-4);
    }
    .btn {
      margin-bottom: var(--p-4);
    }
    .table {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      border: 1px solid #413e44;
      border-radius: 30px;
      overflow: hidden;
      .item {
        padding: 45px;
        color: #413e44;
        border-bottom: 1px solid #413e44;
        border-right: 1px solid #413e44;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }

      .item:nth-child(3),
      .item:nth-child(6) {
        border-right: none;
      }
      .item:nth-child(4),
      .item:nth-child(5),
      .item:nth-child(6) {
        border-bottom: none;
      }
    }
  }
  &-right {
    margin-left: 120px;
    .card {
      height: 240px;
      width: 100%;
      background: linear-gradient(to right, #cd9eff, #ff2def);
      border-radius: 30px;
      padding: var(--p-4);
      span {
        color: #fff;
        display: block;
      }
      .icon-crypto {
        width: 80px;
        height: 80px;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 30px;
        img {
          opacity: 0.5;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .name {
        font-weight: 300;
        font-size: var(--text-sm);
      }
      .value {
        font-weight: 600;
        font-size: var(--text-md);
      }
    }
  }
}
